# NODE_ENV no se incluye en los archivos .env porque se define en los scripts
# del package.json. Puede tomar valores 'development' o 'production', y debe ser 
# configurado directamente al ejecutar los scripts:
# - npm run start:dev para desarrollo
# - npm run start:prod para producción
NODE_ENV=example # NO DEFINIR EN LOS .ENV

# Configuración del entorno de la aplicación
# Establece el puerto en el que el servidor escuchará
PORT=3000

# AUTH0
AUTH0_ISSUER_URL=https://<AUTH0-TENANT-NAME>.us.auth0.com/
AUTH0_AUDIENCE=https://todo-advanced.com
AUTH0_CLIENT_ID=client_id

# MONGODB
MONGODB_URI=