# NODE_ENV no se incluye en los archivos .env porque se define en los scripts
# del package.json. Puede tomar valores 'development' o 'production', y debe ser 
# configurado directamente al ejecutar los scripts:
# - npm run start:dev para desarrollo
# - npm run start:prod para producción
NODE_ENV=example # NO DEFINIR EN LOS .ENV

# Configuración del entorno de la aplicación
# Establece el puerto en el que el servidor escuchará
PORT=3000

